<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>subtitles</title>
        <script crossorigin="anonymous" integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==" src="https://lib.baomitu.com/jquery/3.5.1/jquery.js"></script>
    
    </head>
    <body>
        <div class="index">
            <video controls width="100%" id="video" onplay="startFn()" onpause="stopFn()" onclick="videoclickFn()">
                <source src="https://inininininin.com/file/zmy/The-Wolf-of-Wall-Street.mp4"/>
            </video>
            <!-- <div style="margin-top:5px">
                <div>中文字幕<input type="file" ref="files" onchange="uploadFileFn(this,'zh')" /></div>
                <div>英文字幕<input type="file" ref="files" onchange="uploadFileFn(this,'en')" /></div>
            </div> -->
            
            <div style="position: relative;text-align: center;line-height: 30px;margin-top:5px;min-height: 60px;" id="zh_subtitles" ontouchstart="touchstartFn(event)" ontouchmove="touchmoveFn(event)"
            ontouchend="touchendFn(event)" ontouchcancel="touchcancelFn(event)" ontouches="touchesFn(event)">
                <!-- <span v-for="(item,inx) in en.subtitles" :key="inx" onclick="translationFn(item)" style="cursor: pointer;font-size: 17px;">
                {{item}}
                </span> -->
            </div>
            <!-- <div style="height: 20px;line-height: 20px;background: #efeded;">
                <span v-for="(item,inx) in zh.subtitles" :key="inx" onclick="translationFn(item)" style="cursor: pointer;font-size: 17px;">
                {{item}}
                </span>
            </div> -->
            
            <div style="width: 80%;display: flex;justify-content: space-between;margin: 0px auto;margin-top: 10px;">    
                <button onclick="upsideFn()" style="width: 60px;background: white;border: 1px solid #827e7e;border-radius: 6px;font-size: 12px;padding: 3px 5px;">上一句</button>
                <button onclick="current()" style="width: 60px;background: white;border: 1px solid #827e7e;border-radius: 6px;font-size: 12px;padding: 3px 5px;">本句</button>
                <button onclick="downside()" style="width: 60px;background: white;border: 1px solid #827e7e;border-radius: 6px;font-size: 12px;padding: 3px 5px;">下一句</button>
            </div>
            <div style="text-align: center;margin-top: 20px;min-height: 30px;">
                <button class="startFn" onclick="startFn()" style="text-align: center;line-height: 32px;padding: 0px;background: white;border: 1px solid #827e7e;border-radius: 5px;font-size: 12px;padding: 0px;width: 60px;height: 35px;">▶</button>
                <button class="stopFn" onclick="stopFn()"  style="text-align: center;line-height: 32px;padding: 0px;display: none;background: white;border: 1px solid #827e7e;border-radius: 5px;font-size: 12px;padding: 0px;width: 60px;height: 35px;">||</button>
            </div>
            <div class="dialog" style="margin-top: 10px;overflow: scroll;background: white;max-width: 100%;display: none;border: 1px solid #ccc8c8;box-shadow: 0px 0px 5px #888383;border-radius: 5px;padding: 5px;box-sizing: border-box;">
                <h4 style="margin-block-end: 3px;margin-block-start: 5px;font-size: 14px;font-weight: bolder;"></h4>
                <div style="font-size: 12px" class="yibiao">
                    
                </div>  
                <div style="font-size: 12px">
                    <div class="fanyi">

                    </div>
                </div>
            </div>
        </div>
        <script>
            var zh = {
                subtitles : '',
                subtitlesInterval : '',
                subtitlesList : [],
            },
            en = {
                subtitles : '',
                subtitlesInterval : '',
                subtitlesList : [],
                current:''
            },
            chooseDomList = [],translationValue = '';
            init();


            function init(){
                getSubtitles()
            }

            function getSubtitles(){
                $.ajax({
                    url: '/file/zmy/The-Wolf-of-Wall-Street.srt',

                        
                        async: true,
                        success: function(res) {
                            // console.log(res)
                            getEnSubtitles(res)
                        }
                    })
            }
            function translationVlaue(_data,_value){
                
                
                $.ajax({
                    url: '/zmy/translate?q='+_data,
                    
                    async: true,
                    success: function(res) {
                        // console.log(res)
                        // _x = _value.changedTouches[0].pageX,
                        // _y = _value.changedTouches[0].pageY,
                        touch = _value.changedTouches[0],
                        ele = document.elementFromPoint(touch.pageX, touch.pageY);
                        // console.dir(ele.offsetTop)
                        // _y = 0
                        if(window.screen.height-ele.offsetTop)
                        $('.dialog').css({
                            'display':'block',
                            // 'position': 'absolute',
                            // 'bottom':"220px",
                            // 'left':0,
                        })
                        $('.dialog h4').html(_data);
                        $('.yibiao').html('')
                        $('.fanyi').html('')
                        if(res.data.phonetic){
                            $('.yibiao').append(
                                '<span class="yibiao">'+'/'+res.data.phonetic+'/'+'</span>'+
                                '<audio src="'+res.data.voice+'" class=""></audio>'
                            )
                        }else{
                            $('.yibiao').append(
                                '<audio src="'+res.data.voice+'" class=""></audio>'
                            )
                        }
                        for(let i=0; i <= res.data.translation.length; i++){
                            if(res.data.translation[i]){
                                $('.fanyi').append( 
                                    '<p style="margin-block-start: 0;margin-block-end: 3px;">'+res.data.translation[i]+'</p>'
                                )
                            }
                            
                        }
                    },
                })
                
            }
            function getZhSubtitles(_result){
                let _this = this;
                let _fileString = [];
                _fileString = _result.currentTarget.result.split(/[(\r\n)\r\n]+/);
                // console.dir(_fileString)
                _fileString.forEach((item,inx) => {
                    if(!item){
                    _fileString.splice(inx,1);
                    }
                    let reg = /^(20|21|22|23|[0-1]\d):[0-5]\d:[0-5]\d/;
                    let regExp = new RegExp(reg);
                    if(regExp.test(item)){
                    // console.log(item)
                    // item
                    _this.zh.subtitlesList.push({
                        startTime : _this.timeCycle(item.split(' --> ')[0].replace(',','.')),
                        endTime : _this.timeCycle(item.split(' --> ')[1].replace(',','.')),
                        value : _fileString[inx+1]
                    })
                    }
                });
            }
            function getEnSubtitles(_result){
                let _this = this;
                let _fileString = [];
                _fileString = _result.split(/[(\r\n)\r\n]+/);
                // console.dir(_fileString)
                _fileString.forEach((item,inx) => {
                    let startValue = false
                    if(!item){
                    _fileString.splice(inx,1);
                    }
                    let reg = /^(20|21|22|23|[0-1]\d):[0-5]\d:[0-5]\d/;
                    let regExp = new RegExp(reg);
                    if(regExp.test(item)){
                        _this.en.subtitlesList.push({
                            startTime : _this.timeCycle(item.split(' --> ')[0].replace(',','.')),
                            endTime : _this.timeCycle(item.split(' --> ')[1].replace(',','.')),
                            value : _fileString[inx+2]
                        })
                    }
                });
                // console.log(_this.en.subtitlesList)
            }
            function cueing(_value){
                let _this = this;
                let _v= _value.split(' ');
                $("#zh_subtitles").html('')
                for(let i=0; i < _v.length; i++){
                    if(i == _v.length-1){
                        $("#zh_subtitles").append(
                            '<span style="cursor: pointer;font-size: 17px;padding: 0px 2px;" class="font span'+i+'">'+_v[i]+'</span>'
                        )
                    }else{
                        $("#zh_subtitles").append(
                            '<span style="cursor: pointer;font-size: 17px;padding: 0px 2px;" class="font span'+i+'">'+_v[i]+'</span><span class="font span'+(i+1)+'" style="cursor: pointer;font-size: 17px"> </span>'
                        )
                    }
                }
            }
            function upsideFn(){
                let _this = this;
                let findInx;
                if(_this.en.current){
                    _this.en.subtitlesList.findIndex(function(_value, inx){
                        if(_value.startTime == _this.en.current.startTime){
                            findInx = inx;
                        }
                    })
                    if(findInx){
                        _this.en.current = _this.en.subtitlesList[findInx-1];
                        $('#video')[0].currentTime = _this.en.subtitlesList[findInx-1].startTime/1000;
                        _this.cueing(_this.en.current.value)

                    }else{
                        _this.en.current = _this.en.subtitlesList[findInx];
                        $('#video')[0].currentTime = _this.en.subtitlesList[findInx].startTime/1000
                        _this.cueing(_this.en.current.value)
                        
                    }
                }else{
                    $('#video')[0].currentTime = _this.en.subtitlesList[0].startTime/1000
                }   
                $('.dialog').css({'display':'none'})
            }
            
            function downside(){
                let _this = this;
                let findInx;
                if(_this.en.current){
                    _this.en.subtitlesList.findIndex(function(_value, inx){
                        if(_value.startTime == _this.en.current.startTime){
                            findInx = inx;
                        }
                    })
                    _this.en.current = _this.en.subtitlesList[findInx+1];
                    $('#video')[0].currentTime = _this.en.subtitlesList[findInx+1].startTime/1000
                    _this.cueing(_this.en.current.value)
                }else{
                    _this.en.current = _this.en.subtitlesList[0];
                    $('#video')[0].currentTime = _this.en.subtitlesList[0].startTime/1000
                    _this.cueing(_this.en.current.value)
                }
                $('.dialog').css({'display':'none'})
            }
            function current(){
                let _this = this;
                if(_this.en.current){
                    $('#video')[0].currentTime = _this.en.current.startTime/1000
                }else{
                    $('#video')[0].currentTime = _this.en.subtitlesList[0].startTime/1000
                }
                $('.dialog').css({'display':'none'})
            }
            function stopFn(){
                let _this = this;
                $('#video')[0].pause();
                clearInterval(_this.en.subtitlesInterval)
                $('.stopFn').css({'display':'none'})
                $('.startFn').css({'display':'inline'})
                $('#video').attr('controls', false);
            }
            function videoclickFn(){
                $('#video').attr('controls', true);
            }
            function startFn(){    
                           
                let _this = this;
                if(_this.en.subtitlesInterval){
                    clearInterval(_this.en.subtitlesInterval)
                }
                _this.translationValue = '';
                _this.cueing('')
                $('#video').attr('controls', false);
                _this.en.current = ''
                $('.dialog').css({'display':'none'})
                $('#zh_subtitles span').css({"background": "transparent","color": "black"})
                $('#video')[0].play();
                $('.startFn').css({'display':'none'})
                $('.stopFn').css({'display':'inline'})
                _this.en.subtitlesInterval = setInterval(() => {
                    if($('#video')[0].currentTime == $('#video')[0].duration){
                        clearInterval(_this.en.subtitlesInterval)
                    }
                    let _time = $('#video')[0].currentTime*1000
                    $(_this.en.subtitlesList).each(function(inx,item){
                    if(item.startTime<_time && _time<item.endTime){
                        // console.log(item.value.split(' '))
                        _this.en.current = item
                        _this.cueing(item.value)
                    }
                    })
                }, 1);
            }
            function timeCycle(_value){
                let _time = _value.split(':')
                let ms = 0;
                _time.forEach((item,inx) =>{
                    switch(inx){
                    case 0:
                        ms += parseFloat(item) * 60*60*1000
                        break;
                    case 1:
                        ms += parseFloat(item) * 60*1000
                        break;
                    case 2:
                        ms += parseFloat(item) * 1000
                        break;
                    }
                })
                // console.dir(ms)
                return ms
            }
            function touchstartFn(_value){
                
                // _value.preventDefault();
                // console.log("touchstartFn")
                let _this = this;
                chooseDomList = [];
                $('.dialog').css({'display':'none'})
                $('#zh_subtitles span').css({"background": "transparent","color": "black"})
                $('#video')[0].pause();
                touch = _value.changedTouches[0],
                ele = document.elementFromPoint(touch.pageX, touch.pageY);
                
                if(ele.className.lastIndexOf('span ')<0){
                    
                    if(ele.innerHTML!=" " && ele.innerHTML!= translationValue && !_this.chooseDomList.length && translationValue.lastIndexOf(ele.innerHTML)<0){
                        _this.chooseDomList.push({
                            class:ele.className,
                            value:ele.innerHTML,
                        })
                        $('.'+ele.className.split(' ')[1]).css({
                            'background' : '#d2cbcb',
                            'color' : 'black'
                        })
                    }
                    
                }
                
                // console.dir(_value)
            }
            function touchmoveFn(_value){
                
                let _this = this,
                touch = _value.changedTouches[0],
                ele = document.elementFromPoint(touch.pageX, touch.pageY);

                // console.log("touchmoveFn")
                // console.log("ele.className:"+'.'+ele.className.split(' ')[1]p+' '+ele.className.lastIndexOf('span '))
                if(ele.className.lastIndexOf('span ')<0){
                    $('.'+ele.className.split(' ')[1]).css({
                        'background' : '#d2cbcb',
                        'color' : 'black'
                    })    
                    // console.log(ele.className);
                    let status = true;
                    _this.chooseDomList.findIndex(function(_value, inx){
                        // console.log(_value)
                        if(_value.class == ele.className){
                            // console.log(_value.class)
                            status=false
                        }
                    })
                    if(status && ele.innerHTML!=" "){
                        _this.chooseDomList.push({
                            class:ele.className,
                            value:ele.innerHTML,
                        }) 
                    }
                }
            }
            function touchendFn(_value){
                
                // console.dir(_value)
                let _this = this;
                console.log(_this.chooseDomList);
                // console.log("touchendFn")
                touch = _value.changedTouches[0],
                ele = document.elementFromPoint(touch.pageX, touch.pageY);
                let _data = ''
                $(_this.chooseDomList).each(function(inx,item){
                    if(inx>0){
                        _data+=' '+item.value.replace(/^\W+/,'').replace(/\W+$/,'')
                    }else{
                        _data=item.value.replace(/^\W+/,'').replace(/\W+$/,'')
                    }
                    
                })
                console.log(_data)
                if(_data && _this.translationValue != _data && translationValue.lastIndexOf(ele.innerHTML)<0){
                    _this.translationValue = _data;
                    translationVlaue(_data,_value)
                }else{
                    _this.translationValue = ""
                }
            }
            function touchcancelFn(_value){ 
            }
            function touchesFn(_value){
            }
        </script>
    </body>
    
</html> 
